.postCard {
  display: flex;
  flex-direction: column;
  background-color: #c0d8f0;
  border: white solid 10px;
  margin-bottom: 20px;
  padding: 0px;
}

.picture{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.imgContainer{
  width: 100%;
  flex: 70%;
  background-color: #c0d8f0;
}

.contentContainer{
  flex: 30%;
  padding: 15px 15px;
}

